@tailwind base;
@tailwind components;
@tailwind utilities;


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

.grid > div {
  transition: transform 0.3s;
}

.grid > div:hover {
  transform: translateY(-5px);
}

